<div class="container">

  <h2>Bienvenue au panel d'administration {{settings.name}} !</h2>

  <div class="row">
    {% for project in listProject %}
    <div class="col-4" style="padding-top: 25px;">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col" style="text-align: left;">
              {{project.title}}

            </div>
            <div class="col" style="text-align: right;">
              {{project.intListUserInside}}/{{project.nbMembers}}
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">{{project.description}}</p>
          {% for group in project.listGroups %}
          <p>{{group.title}}</p>
          {% endfor %}
          <a href="/getProject/{{project.id}}">
            <button type="submit" class="btn btn-primary">Voir le projet</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>




<script src="http://localhost/assets/js/homeAdmin.js"></script>