
<div class="container">
  <form method="post">
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
                    <h1>Veuillez cliquer sur ce bouton tous les jours entre midi et 13h</h1>
                    <br>
                    <button class="btn btn-outline-light btn-lg px-5" type="submit" formaction="/getWeather">Récupérer les informations météos</button>

                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                      <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                    </div>
      
                  </div>
      
                  <div>
                    <p class="mb-0"></p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>

</div>

<script src="http://localhost/assets/js/login.js"></script>