<div class="container">
    <h2><b style="color: brown;">
        <a href="/getProject/{{group.idProject}}" style="text-decoration:none">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
            </svg>
        </a> GROUPE : </b>{{group.title}}</h2>
        <h4>{{group.intListUserInside}}/{{group.maxMember}} {{message}}</h4>
        {% if maxUser is false %}
        {% if inGroup is true or settings.admin is true %}
        <p>Lien de partage : http://localhost/link/{{group.id}}</p>
        {% endif %}
        {% endif %}
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for user in group.listUserInside %}
                <div class="col-4" style="padding-top: 25px;">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col" style="text-align: left;">
                                {{user.name}}
                    
                                </div>
                            </div>
                        </div>
                        {% if settings.admin is true %}
                        <div class="card-body">
                            <form method="post" action="/delUserToGroup">
                                <input hidden name="userId" value="{{user.id}}">
                                <input hidden name="groupId" value="{{group.id}}">
                                <button type="submit" class="btn btn-danger">Supprimer l'utilisateur du groupe</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-3" style="background-color: whitesmoke;">

            {% if settings.admin is false %}
            {% if maxUser is false %}
            {% if inGroup is false %}
            {% if inProject is true %}
            {% if alreadyInOneGroup is false %}
            <ul class="list-group" style="padding-top: 25px;" id="join">
                <li class="list-group-item active" aria-current="true">Voulez-vous rejoindre ce groupe ?</li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="text-align: left;">
                            <form action="/addUserToGroup" method="post">
                                <input hidden name="userId" value="{{settings.idUser}}">
                                <input hidden name="groupId" value="{{group.id}}">
                                <button class="btn btn-primary" type="submit" >Oui</button>
                            </form>
                        </div>
                        <div class="col" style="text-align: right;">
                            <button class="btn btn-danger" onclick="document.getElementById('join').remove()">
                                Non
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}

            {% if alreadyInOneGroup is true %}
            {% if inGroup is false %}
            <ul class="list-group" style="padding-top: 25px;" id="join">
                <li class="list-group-item active" aria-current="true">Vous êtes déjà dans un groupe lié à ce projet</li>
            </ul>
            {% endif %}
            {% endif %}

            {% if settings.admin is false %}
            {% if inGroup is true %}
            <ul class="list-group" style="padding-top: 25px;" id="join">
                <li class="list-group-item list-group-item-danger" aria-current="true">Voulez-vous partir de ce groupe ?</li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="text-align: left;">
                            <form action="/delUserToGroup" method="post">
                                <input hidden name="userId" value="{{settings.idUser}}">
                                <input hidden name="groupId" value="{{group.id}}">
                                <button class="btn btn-primary" type="submit" >Oui</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            {% endif %}
            {% endif %}
            <ul class="list-group" style="padding-top: 25px;">
                <li class="list-group-item active" aria-current="true">Participants au projet à intégrer dans un groupe</li>
                {% for user in usersInProjectWithoutGroup %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="text-align: left;">
                            {{user.name}}
                        </div>
                        {% if settings.admin is true %}
                        <div class="col" style="text-align: right;">
                            <form action="/addUserToGroup" method="post">
                                <input hidden name="userId" value="{{user.id}}">
                                <input hidden name="groupId" value="{{group.id}}">
                                <button class="btn btn-primary" type="submit">Intégrer</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>


</div>